include time
mixin participant(p)
    div.card(class='h-100')
        div(class='card-body')
            h5(class='card-title') #{p.ParticipantName}
            //- if p.ParticipantEmail
            //-     h6(class='fw-light card-subtitle') #{p.ParticipantEmail}
            p(class='small fw-lighter card-text text-wrap')
                if p.ParticipationCount
                    | Joined:
                    +time(p.JoinTime)
                else
                    | Left:
                    +time(p.LeaveTime)
