mixin standardFooter
    div(class='d-flex w-100 justify-content-between')
        a(target='_blank' rel='external noopener noreferrer' href='https://github.com/Town-of-Portola-Valley/Zoom-Attendee-Webhook' class='fw-lighter mx-3 mb-1') Site Source Code
        a(target='_blank' rel='external noopener noreferrer'  href='https://dashboard.stryker-mutator.io/reports/github.com/Town-of-Portola-Valley/Zoom-Attendee-Webhook/#{page.version}' class='fw-lighter mx-3 mb-1') Test Report
        a(target='_blank' rel='external noopener noreferrer'  href='https://github.com/Town-of-Portola-Valley/Zoom-Attendee-Webhook/issues/new/choose' class='fw-lighter mx-3 mb-1') Feedback
        small(class='fw-lighter mx-3 mb-1') Version: #{page.version}
        script.
            []
            .slice
            .call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            .map(function(tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
