mixin time(t)
    // Get things in the correct timezone
    - t=t.setZone(TIMEZONE)
    span.time
        |
        | #{t.toLocaleString(DateTime.DATETIME_CLEAR)}
        |
    span.relative
        |
        | (#{t.toRelative()})
        |
